<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/home.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Bellanima Clinic</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </head>
    
  <body>
      <video autoPlay loop muted  style="zIndex:-1,objectFit:cover,margin:0,position:absolute,width:100%,height:100%,overflow:hidden">
                <source src="Bellanima.mp4" type="video/mp4"/>
                        Your browser does not support the video tag.
            </video>
    <div>
            <nav class="navbar navbar-light bg-light flex-container" style="opacity:0.3">
                <p class="btn btn-default">
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    <p class="btn btn-default">
                        @Html.ActionLink("Forgot your password?", "RecoverPassword")
                    </p>
                    </div>
                <span class="navbar-brand mb-0 h1"><h3 style="position:relative;right:10px">Bellanima</h3></span>
                
            </nav>
            
            <div class="test"></div>
            <div class="HomePage">
            <div style="display:inline-block;position:relative;top:50%">
            </div>
            <div class="row" style="position:absolute;bottom:0px;width:100%;margin:auto">
                <div class="col-sm-4">
                 <a href="https://twitter.com/intent/tweet" title="Tweet this quote!" target="_blank">
               <button class="btn btn-block btn-danger" >
                   <i class="fa fa-twitter"></i>
               </button>
                 </a>
                </div>
                    <div class="col-sm-4">
                        <a href="https://tumblr.com/widgets/share" title="Share this quote on tumblr!" target="_blank">
                <button class="btn btn-block btn-info">
                    <i class="fa fa-tumblr"></i>
                </button>
                        </a>
                    </div>
                        <div class="col-sm-4">
                <button class="btn btn-block btn-dark">
                    <i class="fa fa-facebook"></i>
                    New Quote
                </button>
                        </div>
            </div>
            </div>

        </div>
       
        <div class="HomePage Transition1" style="zIndex:6">SSSSSSSSSSSSSSSSSS
                <i class="fas fa-heart Transition2" style="height:60px;width:60px;position:relative;top:calc(50% - 30px)"></i>

            </div>







  </body>
</html>











