<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0  shrink-to-fit=no " />
    <link rel="stylesheet" href="~/Site.css" />
    <title>Verify Email</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                <h2 class="text-center">Email verified</h2>
                <div class="alert alert-success text-center">
                    Thank you for validating your service and please login here
                </div>

                <div>
                    <a class="form-control button" href="/Home/Login">Go to Login </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
