:root {
    --nv-primary-accent: #0366d6;
    --nv-secondary-accent: #0e509a;
    --nv-site-bg: #f7f7f7;
    --nv-light-bg: #ededed;
    --nv-dark-bg: #14171c;
    --nv-text-color: #3s9391;
    --nv-text-dark-bg: #ffffff;
    --nv-c-1: #77b978;
    --nv-c-2: #f37262;
    --nv-fallback-ff: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.HomePage {
    text-align: center;
    background-color: #bddd82;
    color: rgb(9, 56, 100);
    border: 3px solid yellow;
    width: 80vw;
    height: 82vh;
    position: absolute;
    top: 100px;
    font-family: "Times New Roman", Times, serif;
    display: block;
    text-align: start;
    font-size: 25px;
    z-index: 2;
    right: calc(50% - 40vw);
    opacity: 0.9;
    border-radius: 25px;
}

.myFlex {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: lightgrey;
    border: 7px solid black;
    padding: auto;
    margin: 20px;
}

ul > li {
    margin-top: 22px;
}

@media (prefers-reduced-motion: no-preference) {
    .transition1 {
        animation: Initiation 4s;
    }

    .transition2 {
        animation: App-logo-float 4s;
        animation-fill-mode: forwards;
    }
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(100px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}

@keyframes Initiation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
        z-index: -7;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* For VerifyEmail, EmailVerification, Login, Register */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .container .form {
        background: #f7f7f7;
        padding: 30px 35px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container .form .form-control {
        height: 40px;
        font-size: 15px;
    }

    .container .form .forget-pass {
        margin: -15px 0 15px 0;
        font-size: 15px;
    }

    .container .form .link {
        padding: 5px 0;
    }    
    
    .container .login-form p {
        font-size: 14px;
    }



    /* Universal button */
    .container .row .form .button {
        font-size: 0.8em;
        font-weight: 600;
        padding: 8px 12px;
        transition: all 0.15s ease-in-out;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 3px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: normal;
        font-family: inherit;
        background-color: var(--nv-primary-accent);
        color: #fff;
    }
